@use '../abstracts/abstracts';

// base styles

:root {
	font-size: 62.5%;
	font-family: abstracts.$font-family;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	background-color: abstracts.$background_color;
	color: abstracts.$text_color;
}

.page-wrapper {
	padding: 10rem 2.7rem 2.7rem 2.7rem;
	margin-inline: auto;
	max-inline-size: 96.6rem;
}
