.code_example {
	padding: 4rem;
	white-space: nowrap;
	overflow-x: scroll;
	border: 0.8rem solid #5551ff;
	border-radius: 0.8rem;
	-webkit-box-shadow: -1rem 1rem 0 0 #abaaf6;
	box-shadow: -1rem 1rem 0 0 #abaaf6;
}
