//Fonts
$font-family: 'Montserrat', sans-serif;

//Colors
$titles_color: #fffffe;
$text_color: #b8c1ec;
$background_color: #232946;
$secondary_color: #eebbc3;

@mixin titles($weigh, $size, $line-height) {
	color: $titles_color;
	font-weight: $weigh;
	font-size: $size;
	line-height: $line-height;
}

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	font-size: 62.5%;
	font-family: $font-family;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	background-color: $background_color;
	color: $text_color;
}

.page-wrapper {
	padding: 10rem 2.7rem 2.7rem 2.7rem;
	margin-inline: auto;
	max-inline-size: 96.6rem;
}

.header {
	color: inherit;
	max-block-size: 306px;
	-webkit-margin-after: 2rem;
	margin-block-end: 2rem;

	&__wrapper {
		background-color: $background_color;
		position: relative;
		-webkit-padding-after: 1rem;
		padding-block-end: 1rem;
	}
	&__title {
		@include titles(bold, 1.4rem, 2.4rem);
		text-transform: uppercase;
		-webkit-margin-after: 2.4rem;
		margin-block-end: 2.4rem;
	}
}

.nav {
	-webkit-padding-after: 2rem;
	padding-block-end: 2rem;

	&__menu:nth-of-type(1) {
		-webkit-margin-after: 2.4rem;
		margin-block-end: 2.4rem;
	}
	ol {
		-webkit-padding-start: 3.2rem;
		padding-inline-start: 3.2rem;
	}
	&__links {
		-webkit-margin-before: 1.6rem;
		margin-block-start: 1.6rem;
	}
}
.menu__summary {
	@include titles(bold, 1.4rem, 2.4rem);
	font-weight: bold;
}

.main {
	max-inline-size: 636px;
	margin-inline: auto;
}

.main-section {
	-webkit-border-before: solid 1px rgba(97, 97, 97, 0.2);
	border-block-start: solid 1px rgba(97, 97, 97, 0.2);
	-webkit-padding-before: 4rem;
	padding-block-start: 4rem;
	inline-size: 100%;

	&__title {
		@include titles(700, 3.2rem, 3.9rem);
		-webkit-margin-after: 1.6rem;
		margin-block-end: 1.6rem;
	}
	&__description {
		font-size: 1.7rem;
		line-height: 2.4rem;
	}
}

/* common styles for text */
.text-format {
	font-size: 1.7rem;
	font-weight: 400;
	line-height: 2.4rem;
}

.setup__title {
	@include titles(700, 4rem, 4.87rem);
	-webkit-margin-before: 4rem;
	margin-block-start: 4rem;
}

.item {
	-webkit-margin-before: 4rem;
	margin-block-start: 4rem;

	&__img,
	&__title,
	&__description {
		-webkit-margin-after: 1.6rem;
		margin-block-end: 1.6rem;
	}

	&__title {
		@include titles(600, 2.4rem, 2.92rem);
	}
	&__description {
		@extend .text-format;
	}
	&__description span {
		font-weight: bold;
	}
}

.quote {
	background-color: #d4939d;
	border-radius: 0.8rem;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 3.2rem;
	color: $background_color;
	-webkit-margin-before: 4rem;
	margin-block-start: 4rem;

	&__wrapper {
		padding: 1.6rem;
	}
}

.concepts-section {
	-webkit-margin-after: 4rem;
	margin-block-end: 4rem;
	-webkit-margin-before: 4rem;
	margin-block-start: 4rem;

	&__title {
		@include titles(700, 3.2rem, 3.9rem);
	}
}

.concept__items {
	-webkit-margin-before: 4rem;
	margin-block-start: 4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 1.6rem;
}

.concept__title {
	@include titles(600, 2.4rem, 2.92rem);
}

.concept__description {
	@extend .text-format;
}

.code_example {
	padding: 4rem;
	white-space: nowrap;
	overflow-x: scroll;
	border: 0.8rem solid #5551ff;
	border-radius: 0.8rem;
	-webkit-box-shadow: -1rem 1rem 0 0 #abaaf6;
	box-shadow: -1rem 1rem 0 0 #abaaf6;
}

.section3 {
	&__title {
		@include titles(600, 3.2rem, 3.9rem);
		-webkit-margin-after: 2.4rem;
		margin-block-end: 2.4rem;
	}
}

.section3__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 1.6rem;
	-webkit-margin-before: 2.4rem;
	margin-block-start: 2.4rem;
	-webkit-margin-after: 4rem;
	margin-block-end: 4rem;

	@extend .text-format;

	.item__title {
		@include titles(400, 2.4rem, 2.92rem);
	}
	ul li {
		-webkit-margin-after: 1.6rem;
		margin-block-end: 1.6rem;
	}
}

.contact {
	-webkit-margin-after: 4rem;
	margin-block-end: 4rem;
	.mail-link {
		-webkit-margin-after: 4rem;
		margin-block-end: 4rem;
	}
	.mail-link span a {
		color: $secondary_color;
		text-decoration: underline;
	}
}

.form__title {
	@include titles(400, 2.4rem, 2.92rem);
	-webkit-margin-after: 1.6rem;
	margin-block-end: 1.6rem;
}

.form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 2.4rem;
	-webkit-margin-after: 4rem;

	&__input,
	&__btn {
		padding: 1.2rem 1.6rem;
		border-radius: 0.8rem;
		outline: none;
		font-family: $font-family;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2.4rem;
	}
	&__input {
		border: 1px solid $titles_color;
		color: $titles_color;
		background-color: transparent;
	}
	&__btn {
		font-weight: 700;
		color: $background_color;
		background-color: $secondary_color;
		border: none;
	}
	&__btn:hover {
		-webkit-box-shadow: 2px 2px 0 4px rgba(0, 0, 0, 0.4);
		box-shadow: 2px 2px 0 4px rgba(0, 0, 0, 0.4);
	}
	&__input::-webkit-input-placeholder {
		font-family: $font-family;
		color: $titles_color;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2.4rem;
	}
	&__input::-moz-placeholder {
		font-family: $font-family;
		color: $titles_color;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2.4rem;
	}
	&__input:-ms-input-placeholder {
		font-family: $font-family;
		color: $titles_color;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2.4rem;
	}
	&__input::-ms-input-placeholder {
		font-family: $font-family;
		color: $titles_color;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2.4rem;
	}
	&__input::placeholder {
		font-family: $font-family;
		color: $titles_color;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2.4rem;
	}
}

.footer {
	background-color: $secondary_color;
	inline-size: 100%;
	block-size: 174px;
	color: $background_color;
	font-family: Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 2.81rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	&__content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 1.6rem;
		text-align: center;
	}

	.social-media {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		gap: 1.6rem;
	}
}

@media screen and (min-width: 1024px) {
	.page-content {
		display: grid;
		grid-template-columns: 30.6rem 63.6rem;
		gap: 2.4rem;
	}

	.main-section {
		-webkit-padding-before: 0;
		padding-block-start: 0;
		-webkit-padding-after: 4rem;
		padding-block-end: 4rem;
		-webkit-border-before: none;
		border-block-start: none;
		-webkit-border-after: solid 1px rgba(97, 97, 97, 0.2);
		border-block-end: solid 1px rgba(97, 97, 97, 0.2);
	}
}
